{{ ansible_managed | comment }}

{% for ntp_server in ntp_pool %}
server {{ ntp_server }}
{% endfor %}

driftfile /var/lib/chrony/drift

makestep 1.0 3

rtcsync

keyfile /etc/chrony.keys

leapsectz right/UTC

logdir /var/log/chrony
